@use "variables"

#menu
  display: flex
  justify-content: space-between
  align-items: center
  color: variables.$white

#player-name
  color: variables.$green-light
  font-size: 28px
  span
    color: variables.$white

#timers
  display: none // toggled (flex) with script
  justify-content: center
  & > div
    display: none // toggled (block) with script
    height: 28px
    line-height: 28px
    font-size: 36px
    padding-left: 32px
    background-size: contain
    background-repeat: no-repeat

#speed-boost-timer
  background-image: url("/images/speed-boost-40x40.png")
  padding-left: 34px

#immunity-timer
  background-image: url("/images/star-36x36.png")
  margin-left: 12px

// Small Screens
@media (max-width: 550px)
  #player-name
    font-size: 24px
  #timers > div
    height: 24px
    line-height: 24px
    font-size: 31px
    padding-left: 27px
  #speed-boost-timer
    padding-left: 29px
  #immunity-timer
    margin-left: 10px

// Extra-small Screens
@media (max-width: 475px)
  #player-name
    font-size: 21px
  #timers > div
    height: 21px
    line-height: 21px
    font-size: 27px
    padding-left: 24px
  #speed-boost-timer
    padding-left: 26px
  #immunity-timer
    margin-left: 9px
