$grid-size: 25 // number of rows and columns in the grid
$cell-size: 20px // size of each grid cell
$green-dark: #283618
$green-light: #606c38
$brown-dark: #bc6c25
$brown-light: #dda15e
$white: #fefae0
