:root {
  --grid-size: 20; /* number of rows and columns */
  --cell-size: 20px; /* size of each grid cell */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "VT323", monospace;
  background: black;
}

#game-board {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  margin: 5px;
  border: 5px solid #aaa;
  background: #fefae0;
}
#start-prompt {
  position: absolute;
  top: 48%;
  color: #333;
  width: 300px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.snake.head {
  background-image: url("/images/snake-head.png");
}

.snake.body {
  background-image: url("/images/snake-body.png");
}

.snake.tail {
  background-image: url("/images/snake-tail.png");
}

.snake.corner {
  background-image: url("/images/snake-corner.png");
}

.snake.up {
  transform: rotate(0deg);
}

.snake.right {
  transform: rotate(90deg);
}

.snake.down {
  transform: rotate(180deg);
}

.snake.left {
  transform: rotate(270deg);
}

.snake.corner.left-down {
  transform: rotate(0deg);
}

.snake.corner.left-up {
  transform: rotate(90deg);
}

.snake.corner.right-up {
  transform: rotate(180deg);
}

.snake.corner.right-down {
  transform: rotate(270deg);
}

.food {
  /* border: 1px solid limegreen; */
  /* background-color: lime; */
  /* background-size: contain; */
  background-image: url("/images/mouse.png");
  background-size: cover;
  z-index: 9999;
}

.scores {
  display: flex;
  justify-content: space-between;
  color: #fefae0;
}

#score,
#high-score {
  font-size: 40px;
  font-weight: bolder;
  margin: 5px 0;
}

#high-score {
  display: none;
}
