:root {
  --grid-size: 25; /* number of rows and columns in the grid */
  --cell-size: 20px; /* size of each grid cell */
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "VT323", monospace;
  background: #283618;
}

#wrapper {
  width: calc(var(--cell-size) * var(--grid-size) + 10px);
  margin: 0 auto;
}

#title {
  font-size: 48px;
  margin: 20px 0 15px;
  color: #606c38;
  text-align: center;
  text-transform: uppercase;
}

#gameplay-area {
  position: relative;
}

#game-board {
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  margin: 15px auto;
  width: calc(var(--cell-size) * var(--grid-size));
  border: 5px solid #606c38;
  background: #fefae0;
}

#start-prompt {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  text-align: center;
}

#start-prompt label {
  text-transform: uppercase;
  font-size: 28px;
}

#start-prompt input {
  font-family: monospace;
  font-size: 20px;
  color: #283618;
  background: #fff;
  border: 2px solid #606c38;
  border-radius: 3px;
  padding: 5px;
}

#start-prompt input:invalid {
  border-color: red;
}
#start-prompt input:invalid:focus {
  outline-style: solid;
  outline-color: red;
}

#start-prompt button {
  font-family: "VT323";
  font-size: 42px;
  text-transform: uppercase;
  color: #fefae0;
  background-color: #606c38;
  margin: 30px 0 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: blinking-start-prompt 1s linear infinite;
}

#start-prompt button:hover {
  color: #fefae0;
  background-color: #bc6c25;
}

#start-prompt .help-text {
  font-size: 24px;
  font-family: "VT323";
  text-transform: uppercase;
  margin: 5px 0 0;
}

#tutorial-open-btn {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "VT323";
  font-size: 32px;
  border: 2px solid #bc6c25;
  border-radius: 100%;
  background: #283618;
  color: #bc6c25;
  cursor: pointer;
}

#tutorial-open-btn:hover {
  color: #dda15e;
  border-color: #dda15e;
}

#tutorial-dialog {
  font-size: 16px;
  background: #283618;
  border: 5px solid #606c38;
  border-radius: 5px;
  color: #fefae0;
  padding: 25px;
  text-align: center;
  margin: auto;
}

#tutorial-dialog::backdrop {
  background: #000;
  opacity: 0.5;
}

#tutorial-dialog h2 {
  color: #606c38;
  font-size: 42px;
  margin: 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}

#tutorial-dialog ul {
  padding: 0 0 10px;
}

#tutorial-dialog li {
  margin: 0 0 15px;
  font-family: monospace;
}

#tutorial-dialog button {
  background: #fefae0;
  color: #283618;
  border: 2px solid #606c38;
  padding: 7px 10px;
  border-radius: 5px;
  font-family: "VT323";
  font-size: 32px;
  cursor: pointer;
}

#tutorial-dialog button:hover {
  color: #fefae0;
  border-color: #fefae0;
  background-color: #606c38;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#player-name {
  color: #606c38;
  font-size: 28px;
}

#player-name span {
  color: #fefae0;
}

#scoreboard {
  color: #fefae0;
  margin: 5px 0 0;
}

#scoreboard li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  padding: 10px 5px;
  border-bottom: 1px solid #606c38;
  list-style: decimal inside none;
}

#scoreboard li:first-child {
  padding-top: 0;
}

#scoreboard .scoreboard-name > span {
  color: #606c38;
}

#scoreboard .scores .scoreboard-score {
  background: url("/images/mouse-icon.png") no-repeat left center;
  background-size: 32px;
  padding-left: 37px; /* Background size + 5px */
}

#scoreboard .scores .scoreboard-kills {
  background: url("/images/snake-icon.png") no-repeat left center;
  background-size: 28px;
  padding-left: 33px; /* Background size + 5px */
  margin-left: 15px;
}

#scoreboard .scores .scoreboard-deaths {
  background: url("/images/skull-icon.png") no-repeat left center;
  background-size: 28px;
  padding-left: 33px; /* Background size + 5px */
  margin-left: 15px;
}

.snake {
  z-index: 1;
}

.snake.enemy {
  z-index: 0;
}

.snake.head {
  background-image: url("/images/snake-head-brown.png");
}
.snake.head.enemy {
  background-image: url("/images/snake-head-green.png");
}

.snake.body {
  background-image: url("/images/snake-body-brown.png");
}
.snake.body.enemy {
  background-image: url("/images/snake-body-green.png");
}

.snake.body.target {
  background-image: url("/images/snake-body-target-brown.png");
}
.snake.body.target.enemy {
  background-image: url("/images/snake-body-target-green.png");
}

.snake.tail {
  background-image: url("/images/snake-tail-target-brown.png");
}
.snake.tail.enemy {
  background-image: url("/images/snake-tail-target-green.png");
}

.snake.corner {
  background-image: url("/images/snake-corner-brown.png");
}
.snake.corner.enemy {
  background-image: url("/images/snake-corner-green.png");
}

.snake.corner.target {
  background-image: url("/images/snake-corner-target-brown.png");
}
.snake.corner.target.enemy {
  background-image: url("/images/snake-corner-target-green.png");
}

.snake.up {
  transform: rotate(0deg);
}

.snake.right {
  transform: rotate(90deg);
}

.snake.down {
  transform: rotate(180deg);
}

.snake.left {
  transform: rotate(270deg);
}

.snake.corner.left-down {
  transform: rotate(0deg);
}

.snake.corner.left-up {
  transform: rotate(90deg);
}

.snake.corner.right-up {
  transform: rotate(180deg);
}

.snake.corner.right-down {
  transform: rotate(270deg);
}

.food {
  background-image: url("/images/mouse.png");
  background-size: cover;
  z-index: 9999;
}

.speed-boost {
  background-image: url("/images/speed-boost.png");
  background-size: cover;
  z-index: 9999;
}

@keyframes blinking-start-prompt {
  50% {
    background-color: #283618;
  }
}
